<p-tabs [lazy]="true" value="0" scrollable>
    <p-tablist>
        <ng-template #previcon>
            <i class="pi pi-minus"></i>
        </ng-template>
        <p-tab value="0" class="flex items-center !gap-2">
            <span class="font-bold whitespace-nowrap">{{ msg.menu.etablissement }}</span>
        </p-tab>
        <p-tab value="1" class="flex items-center !gap-2">
            <span class="font-bold whitespace-nowrap">{{ msg.menu.ville }}</span>
        </p-tab>
        <p-tab value="2" class="flex items-center !gap-2">
            <span class="font-bold whitespace-nowrap">{{ msg.menu.personnel }}</span>
        </p-tab>
        <p-tab value="3" class="flex items-center !gap-2">
            <span class="font-bold whitespace-nowrap">{{ msg.menu.fournisseur }}</span>
        </p-tab>
        <p-tab value="4" class="flex items-center !gap-2">
            <span class="font-bold whitespace-nowrap">{{ msg.menu.prime }}</span>
        </p-tab>
        <p-tab value="5" class="flex items-center !gap-2">
            <span class="font-bold whitespace-nowrap">{{ msg.menu.voiture }}</span>
        </p-tab>
        <ng-template #nexticon>
            <i class="pi pi-plus"></i>
        </ng-template>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <app-etablissement-component></app-etablissement-component>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-ville-component></app-ville-component>
        </p-tabpanel>
        <p-tabpanel value="2">
            <app-personnel-component></app-personnel-component>
        </p-tabpanel>
        <p-tabpanel value="3">
            <app-fournisseur-component></app-fournisseur-component>
        </p-tabpanel>
        <p-tabpanel value="4">
            <app-prime-component></app-prime-component>
        </p-tabpanel>
        <p-tabpanel value="5">
            <app-voiture-component></app-voiture-component>
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>