<div class="card">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar class="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple [label]="msg.buttons.ajouter" icon="pi pi-plus" class="p-button-info mr-2" (click)="viderAjouter()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <p-table #dt size="small" class="p-datatable-sm my-custom-datatable" [value]="listAchatFacture" dataKey="id"
                [rows]="10" rowGroupMode="rowspan" groupRowsBy="dateOperation" sortField="dateOperation" [sortOrder]="-1"
                selectionMode="single" [(selection)]="selectedAchatFacture" dataKey="id"
                sortMode="multiple" [showGridlines]="true" [paginator]="true"
                [globalFilterFields]="['fournisseurId', 'dateAF', 'fournisseurICE', 'dateReglement', 'typeReglment', 'numCheque', 'numeroFacExterne', 'mantantTotTTC']"
                [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="({currentPage} sur {totalPages})" [rowHover]="true">

                <ng-template #header>
                    <tr>
                        <th pSortableColumn="fournisseurId" style="width: 30%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.fournisseurId }}
                                <p-sortIcon field="fournisseurId" />
                            </div>
                        </th>

                        <th pSortableColumn="dateAF" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.dateAF }}
                                <p-sortIcon field="dateAF" />
                            </div>
                        </th>

                        <th pSortableColumn="fournisseurICE" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.fournisseurICE }}
                                <p-sortIcon field="fournisseurICE" />
                            </div>
                        </th>

                        <th pSortableColumn="dateReglement" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.dateReglement }}
                                <p-sortIcon field="dateReglement" />
                            </div>
                        </th>

                        <th pSortableColumn="typeReglment" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.typeReglment }}
                                <p-sortIcon field="typeReglment" />
                            </div>
                        </th>

                        <th pSortableColumn="numCheque" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.numCheque }}
                                <p-sortIcon field="numCheque" />
                            </div>
                        </th>

                        <th pSortableColumn="numeroFacExterne" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.numeroFacExterne }}
                                <p-sortIcon field="numeroFacExterne" />
                            </div>
                        </th>

                        <th pSortableColumn="mantantTotTTC" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.mantantTotTTC }}
                                <p-sortIcon field="mantantTotTTC" />
                            </div>
                        </th>

                        <th style="width: 5%"></th>
                    </tr>
                </ng-template>

                <ng-template #body let-p let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                    <tr>
                        <td>{{ p.dateOperation | date:'dd/MM/yyyy' }}</td>
                        <td>{{ getDesignationFournisseur(p.fournisseurId) }}</td>
                        <td>{{ getICE(p.fournisseurId) }}</td>
                        <td>{{ p.dateReglement | date:'dd/MM/yyyy' }}</td>
                        <td>{{ getTypeReglement(p.typeReglment) }}</td>
                        <td>{{ p.numCheque }}</td>
                        <td>{{ p.numeroFacExterne }}</td>
                        <td>{{ p.mantantTotTTC }}</td>
                        <td style="min-width: 7rem">
                            <div class="flex gap-2">
                                <p-button (click)="recupperer(1, p)" icon="pi pi-pencil" severity="success" rounded [title]="msg.buttons.modifier" />
                                <p-button (click)="recupperer(2, p)" icon="pi pi-trash" severity="danger" rounded [title]="msg.buttons.supprimer" />
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="12">No AchatFacture found.</td>
                    </tr>
                </ng-template>
                <ng-template #loadingbody>
                    <tr>
                        <td colspan="12">Loading AchatFacture data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="dialogAjouter" [style]="{ width: '80%', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.messages.miseAJour} ${msg.components.achatFacture.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroup" class="p-fluid">
                    <div class="flex flex-wrap -mx-4" style="margin-top: 5px; margin-bottom: -25px;">
                        <div class="flex-auto basis-full md:basis-1/2 lg:basis-1/4 xl:basis-1/5 flex flex-col gap-2 px-4 mb-8">
                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-select formControlName="fournisseurId" inputId="fournisseurId" (onChange)="onChangeFournisseurId()"
                                        [options]="listFournisseur" appendTo="body" optionLabel="designation"
                                        optionValue="id" style="height: 30px;" class="w-full md:w-56" />
                                    <label for="fournisseurId">{{ msg.components.achatFacture.fournisseurId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <input pInputText formControlName="ice" inputId="ice" />
                                    <label for="ice">{{ msg.components.achatFacture.fournisseurICE }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <input pInputText formControlName="numeroFacExterne" inputId="numeroFacExterne" />
                                    <label for="numeroFacExterne">{{ msg.components.achatFacture.numeroFacExterne }}</label>
                                </p-floatlabel>
                            </div>
                            
                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel variant="on">
                                    <p-date-picker id="dateAF" formControlName="dateAF" appendTo="body"
                                        [dateFormat]="msg.formats.date_Format_DDMMYY" required
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('dateAF')?.invalid }" />
                                    <label for="dateAF">{{ msg.components.achatFacture.dateAF }}</label>
                                </p-floatlabel>

                                @if (formGroup.errors?.['dateAFRequired']) {
                                    <p-message severity="error" variant="simple" size="small">{{
                                        msg.components.achatFacture.errors.dateAFRequired }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel variant="on">
                                    <p-date-picker id="dateReglement" formControlName="dateReglement" appendTo="body"
                                        [dateFormat]="msg.formats.date_Format_DDMMYY" required
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('dateReglement')?.invalid }" />
                                    <label for="dateReglement">{{ msg.components.achatFacture.dateReglement }}</label>
                                </p-floatlabel>

                                @if (formGroup.errors?.['dateReglementRequired']) {
                                    <p-message severity="error" variant="simple" size="small">{{
                                        msg.components.achatFacture.errors.dateReglementRequired }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel variant="on" class="full-width">
                                    <p-select formControlName="typeReglment" inputId="typeReglment" [options]="typeReglements"
                                        appendTo="body" optionLabel="label" optionValue="value" style="height: 30px;" class="w-full md:w-56" />
                                    <label for="typeReglment">{{ msg.components.achatFacture.typeReglment }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel variant="on" class="full-width">
                                    <input pInputText id="numCheque" formControlName="numCheque" />
                                    <label for="numCheque">{{ msg.components.achatFacture.numCheque }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['numChequeRequired']) {
                                    <p-message severity="error" variant="simple" size="small">{{
                                        msg.components.achatFacture.errors.numChequeRequired }}</p-message>
                                }
                            </div>
                        </div>

                        <div class="flex-auto basis-full md:basis-1/2 lg:basis-1/4 xl:basis-1/5 flex flex-col gap-2 px-4 mb-8">
                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntManuelTva7" formControlName="mntManuelTva7" appendTo="body" (onBlur)="onChangeTVAManuel(7)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntManuelTva7')?.invalid }" />
                                    <label for="mntManuelTva7">{{ msg.components.achatFacture.mntManuelTva7 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntManuelTva10" formControlName="mntManuelTva10" appendTo="body" (onBlur)="onChangeTVAManuel(10)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntManuelTva10')?.invalid }" />
                                    <label for="mntManuelTva10">{{ msg.components.achatFacture.mntManuelTva10 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntManuelTva12" formControlName="mntManuelTva12" appendTo="body" (onBlur)="onChangeTVAManuel(12)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntManuelTva12')?.invalid }" />
                                    <label for="mntManuelTva12">{{ msg.components.achatFacture.mntManuelTva12 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntManuelTva14" formControlName="mntManuelTva14" appendTo="body" (onBlur)="onChangeTVAManuel(14)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntManuelTva14')?.invalid }" />
                                    <label for="mntManuelTva14">{{ msg.components.achatFacture.mntManuelTva14 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntManuelTva20" formControlName="mntManuelTva20" appendTo="body" (onBlur)="onChangeTVAManuel(20)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntManuelTva20')?.invalid }" />
                                    <label for="mntManuelTva20">{{ msg.components.achatFacture.mntManuelTva20 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntHt" formControlName="mntHt" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntHt')?.invalid }" />
                                    <label for="mntHt">{{ msg.components.achatFacture.mntHt }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex-auto basis-full md:basis-1/2 lg:basis-1/4 xl:basis-1/5 flex flex-col gap-2 px-4 mb-8">
                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntHtTVA7" formControlName="mntHtTVA7" appendTo="body" (onBlur)="onChangeTVA(7)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntHtTVA7')?.invalid }" />
                                    <label for="mntHtTVA7">{{ msg.components.achatFacture.mntHtTVA7 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntHtTVA10" formControlName="mntHtTVA10" appendTo="body" (onBlur)="onChangeTVA(10)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntHtTVA10')?.invalid }" />
                                    <label for="mntHtTVA10">{{ msg.components.achatFacture.mntHtTVA10 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntHtTVA12" formControlName="mntHtTVA12" appendTo="body" (onBlur)="onChangeTVA(12)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntHtTVA12')?.invalid }" />
                                    <label for="mntHtTVA12">{{ msg.components.achatFacture.mntHtTVA12 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntHtTVA14" formControlName="mntHtTVA14" appendTo="body" (onBlur)="onChangeTVA(14)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntHtTVA14')?.invalid }" />
                                    <label for="mntHtTVA14">{{ msg.components.achatFacture.mntHtTVA14 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntHtTVA20" formControlName="mntHtTVA20" appendTo="body" (onBlur)="onChangeTVA(20)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntHtTVA20')?.invalid }" />
                                    <label for="mntHtTVA20">{{ msg.components.achatFacture.mntHtTVA20 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mantantTotHT" formControlName="mantantTotHT" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mantantTotHT')?.invalid }" />
                                    <label for="mantantTotHT">{{ msg.components.achatFacture.mantantTotHT }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex-auto basis-full md:basis-1/2 lg:basis-1/4 xl:basis-1/5 flex flex-col gap-2 px-4 mb-8">
                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="montantTVA7" formControlName="montantTVA7" appendTo="body" (onBlur)="onChangeTVA(7)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('montantTVA7')?.invalid }" />
                                    <label for="montantTVA7">{{ msg.components.achatFacture.montantTVA7 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="montantTVA10" formControlName="montantTVA10" appendTo="body" (onBlur)="onChangeTVA(10)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('montantTVA10')?.invalid }" />
                                    <label for="montantTVA10">{{ msg.components.achatFacture.montantTVA10 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="montantTVA12" formControlName="montantTVA12" appendTo="body" (onBlur)="onChangeTVA(12)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('montantTVA12')?.invalid }" />
                                    <label for="montantTVA12">{{ msg.components.achatFacture.montantTVA12 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="montantTVA14" formControlName="montantTVA14" appendTo="body" (onBlur)="onChangeTVA(14)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('montantTVA14')?.invalid }" />
                                    <label for="montantTVA14">{{ msg.components.achatFacture.montantTVA14 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="montantTVA20" formControlName="montantTVA20" appendTo="body" (onBlur)="onChangeTVA(20)"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('montantTVA20')?.invalid }" />
                                    <label for="montantTVA20">{{ msg.components.achatFacture.montantTVA20 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="montantTVA" formControlName="montantTVA" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('montantTVA')?.invalid }" />
                                    <label for="montantTVA">{{ msg.components.achatFacture.montantTVA }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex-auto basis-full md:basis-1/2 lg:basis-1/4 xl:basis-1/5 flex flex-col gap-2 px-4 mb-8">
                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntTtcTVA7" formControlName="mntTtcTVA7" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntTtcTVA7')?.invalid }" />
                                    <label for="mntTtcTVA7">{{ msg.components.achatFacture.mntTtcTVA7 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntTtcTVA10" formControlName="mntTtcTVA10" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntTtcTVA10')?.invalid }" />
                                    <label for="mntTtcTVA10">{{ msg.components.achatFacture.mntTtcTVA10 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntTtcTVA12" formControlName="mntTtcTVA12" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntTtcTVA12')?.invalid }" />
                                    <label for="mntTtcTVA12">{{ msg.components.achatFacture.mntTtcTVA12 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntTtcTVA14" formControlName="mntTtcTVA14" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntTtcTVA14')?.invalid }" />
                                    <label for="mntTtcTVA14">{{ msg.components.achatFacture.mntTtcTVA14 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntTtcTVA20" formControlName="mntTtcTVA20" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntTtcTVA20')?.invalid }" />
                                    <label for="mntTtcTVA20">{{ msg.components.achatFacture.mntTtcTVA20 }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col md:flex-row full-width">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="mntTtc" formControlName="mntTtc" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('mntTtc')?.invalid }" />
                                    <label for="mntTtc">{{ msg.components.achatFacture.mntTtc }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>

                    <div class="card flex flex-col -mx-4 gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-select formControlName="stockId" inputId="stockId"
                                        [options]="listStock" appendTo="body" optionLabel="designation" (onChange)="onChangeIdStock()"
                                        optionValue="id" style="height: 30px;" class="w-full md:w-56" />
                                    <label for="stockId">{{ msg.components.achatSimple.stockId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number id="totalMntProduit" formControlName="totalMntProduit" appendTo="body"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('totalMntProduit')?.invalid }" />
                                    <label for="totalMntProduit">{{ msg.components.achatFacture.totalMntProduit }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>

                    @if (submitted && formGroup.errors?.['listDetAchatFactureRequired']) {
                        <p-message severity="error" variant="simple" size="small">{{
                            msg.components.achatSimple.errors.listDetAchatSimpleRequired }}</p-message>
                    }

                    <div class="flex flex-wrap gap-3" style="margin-top: 1rem;">
                        <p-table #dtDetStockDepot size="small" class="p-datatable-sm my-custom-datatable" [value]="listDetAchatFacture" dataKey="stockId" style="width: 100% !important;"
                            [rows]="10" 
                            sortMode="multiple" [showGridlines]="true" [paginator]="true"
                            [globalFilterFields]="['stock.designation', 'stock.qteFacturer', 'qteacheter', 'unitegratuit', 'mantantTTC']"
                            [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                            currentPageReportTemplate="({currentPage} sur {totalPages})" [rowHover]="true">

                            <ng-template #header>
                                <tr>
                                    <th pSortableColumn="stock.designation" style="width: 45%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.stock.designation }}
                                            <p-sortIcon field="stock.designation" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="stock.qteFacturer" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.stock.qteFacturer }}
                                            <p-sortIcon field="stock.qteFacturer" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="qteacheter" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.detAchatFacture.qteacheter }}
                                            <p-sortIcon field="qteacheter" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="unitegratuit" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.detAchatFacture.unitegratuit }}
                                            <p-sortIcon field="unitegratuit" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="mantantTTC" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.detAchatFacture.mantantTTC }}
                                            <p-sortIcon field="mantantTTC" />
                                        </div>
                                    </th>

                                    <th style="width: 5%"></th>
                                </tr>
                            </ng-template>

                            <ng-template #body let-p let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                                <tr [pSelectableRow]="p">
                                    <td>{{ p.stock.designation }}</td>
                                    <td>{{ p.stock.qteFacturer }}</td>
                                    <td>{{ p.qteacheter }}</td>
                                    <td>{{ p.unitegratuit }}</td>
                                    <td>{{ p.mantantTTC }}</td>
                                    <td style="width: 5%; min-width: 7rem">
                                        <div class="flex gap-2">
                                            <p-button (click)="recuppererDetAchatFacture(2, p)" icon="pi pi-trash" severity="danger" rounded [title]="msg.buttons.supprimer" />
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">No Produits found.</td>
                                </tr>
                            </ng-template>
                            <ng-template #loadingbody>
                                <tr>
                                    <td colspan="8">Loading Produits data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times"
                    class="p-button-outlined p-button-danger" (click)="openCloseDialogAjouter(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="miseAjour()" [disabled]="!formGroup.valid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogSupprimer" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (achatFacture) {
                <span>{{ msg.components.achatFacture.messageDeleteAreYouSure }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogSupprimer = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="supprimer()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAjouterDetAchatFacture" [style]="{ width: '300px', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.messages.miseAJour} ${msg.components.achatFacture.detAchatFacture.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroupDetAchatFacture" class="p-fluid">
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText formControlName="designation" id="designation" inputId="designation" />
                                    <label for="designation">{{ msg.components.livraison.stock.designation }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="qteFacturer" id="qteFacturer" inputId="qteFacturer" />
                                    <label for="qteFacturer">{{ msg.components.achatFacture.detAchatFacture.qteFacturer }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="pattc" id="pattc" inputId="pattc" />
                                    <label for="pattc">{{ msg.components.livraison.stock.pattc }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="qteacheter" id="qteacheter" inputId="qteacheter" [min]="1" (onBlur)="calculerMontProd()" />
                                    <label for="qteacheter">{{ msg.components.achatFacture.detAchatFacture.qteacheter }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="unitegratuit" id="unitegratuit" inputId="unitegratuit" />
                                    <label for="unitegratuit">{{ msg.components.achatFacture.detAchatFacture.unitegratuit }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times"
                    class="p-button-outlined p-button-danger" (click)="openCloseDialogAjouterDetAchatFacture(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="validerProduits()" [disabled]="formGroupDetAchatFacture.invalid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogSupprimerDetAchatFacture" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (detAchatFacture) {
                <span>{{ msg.components.achatFacture.messageDeleteAreYouSure }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogSupprimerDetAchatFacture = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="supprimerDetAchatFacture()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
