<div class="card">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-confirmdialog />
            <p-toolbar class="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple [label]="msg.buttons.ajouter" icon="pi pi-plus" class="p-button-info mr-2" (click)="viderAjouter()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <p-table #dt size="small" class="p-datatable-sm my-custom-datatable" [value]="listAchatFacture" dataKey="id"
                [rows]="10" rowGroupMode="rowspan" groupRowsBy="dateOperation" sortField="dateOperation" [sortOrder]="-1"
                selectionMode="single" [(selection)]="selectedAchatFacture" dataKey="id"
                sortMode="multiple" [showGridlines]="true" [paginator]="true"
                [globalFilterFields]="['fournisseurDesignation', 'dateAF', 'fournisseurIce', 'dateReglement', 'typeReglment', 'numCheque', 'numeroFacExterne', 'mantantTotTTC']"
                [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="({currentPage} sur {totalPages})" [rowHover]="true">

                <ng-template #header>
                    <tr>
                        <th pSortableColumn="fournisseurDesignation" style="width: 30%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.fournisseurId }}
                                <p-sortIcon field="fournisseurDesignation" />
                            </div>
                        </th>

                        <th pSortableColumn="dateAF" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.dateAF }}
                                <p-sortIcon field="dateAF" />
                            </div>
                        </th>

                        <th pSortableColumn="fournisseurIce" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.fournisseurICE }}
                                <p-sortIcon field="fournisseurIce" />
                            </div>
                        </th>

                        <th pSortableColumn="dateReglement" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.dateReglement }}
                                <p-sortIcon field="dateReglement" />
                            </div>
                        </th>

                        <th pSortableColumn="typeReglment" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.typeReglment }}
                                <p-sortIcon field="typeReglment" />
                            </div>
                        </th>

                        <th pSortableColumn="numCheque" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.numCheque }}
                                <p-sortIcon field="numCheque" />
                            </div>
                        </th>

                        <th pSortableColumn="numeroFacExterne" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.numeroFacExterne }}
                                <p-sortIcon field="numeroFacExterne" />
                            </div>
                        </th>

                        <th pSortableColumn="mantantTotTTC" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.achatFacture.mantantTotTTC }}
                                <p-sortIcon field="mantantTotTTC" />
                            </div>
                        </th>

                        <th style="width: 5%"></th>
                    </tr>
                </ng-template>

                <ng-template #body let-p let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                    <tr>
                        <td>{{ p.fournisseurDesignation }}</td>
                        <td>{{ p.dateAF | date:'dd/MM/yyyy' }}</td>
                        <td>{{ p.fournisseurIce }}</td>
                        <td>{{ p.dateReglement | date:'dd/MM/yyyy' }}</td>
                        <td>{{ getTypeReglement(p.typeReglment) }}</td>
                        <td>{{ p.numCheque }}</td>
                        <td>{{ p.numeroFacExterne }}</td>
                        <td>{{ p.mantantTotTTC | number:'1.2-2' }}</td>
                        <td style="min-width: 7rem">
                            <div class="flex gap-2">
                                <p-button (click)="recupperer(1, p)" icon="pi pi-pencil" severity="success" rounded [title]="msg.buttons.modifier" />
                                <p-button (click)="recupperer(2, p)" icon="pi pi-trash" severity="danger" rounded [title]="msg.buttons.supprimer" />
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="12">No AchatFacture found.</td>
                    </tr>
                </ng-template>
                <ng-template #loadingbody>
                    <tr>
                        <td colspan="12">Loading AchatFacture data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="dialogAjouter" [style]="{ width: '80%', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.messages.miseAJour} ${msg.components.achatFacture.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroup" class="p-fluid">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-2">
                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <p-select formControlName="fournisseurId" inputId="fournisseurId" (onChange)="onChangeFournisseurId()"
                                    [options]="listFournisseur" appendTo="body" optionLabel="designation"
                                    optionValue="id" style="height: 30px;" class="w-full" />
                                <label for="fournisseurId">{{ msg.components.achatFacture.fournisseurId }}</label>
                            </p-floatlabel>
                        </div>

                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <input pInputText formControlName="ice" inputId="ice" class="w-full" />
                                <label for="ice">{{ msg.components.achatFacture.fournisseurICE }}</label>
                            </p-floatlabel>
                        </div>

                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <input pInputText formControlName="numeroFacExterne" inputId="numeroFacExterne" class="w-full" />
                                <label for="numeroFacExterne">{{ msg.components.achatFacture.numeroFacExterne }}</label>
                            </p-floatlabel>
                        </div>

                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <p-date-picker id="dateAF" formControlName="dateAF" appendTo="body"
                                    [dateFormat]="msg.formats.date_Format_DDMMYY" required class="w-full"
                                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('dateAF')?.invalid }" />
                                <label for="dateAF">{{ msg.components.achatFacture.dateAF }}</label>
                            </p-floatlabel>

                            @if (formGroup.errors?.['dateAFRequired']) {
                                <p-message severity="error" variant="simple" size="small">{{ msg.components.achatFacture.errors.dateAFRequired }}</p-message>
                            }
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-2">
                        <div class="col-span-1">
                            <p-floatlabel variant="on" class="w-full">
                                <p-date-picker id="dateReglement" formControlName="dateReglement" appendTo="body"
                                    [dateFormat]="msg.formats.date_Format_DDMMYY" required class="w-full"
                                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('dateReglement')?.invalid }" />
                                <label for="dateReglement">{{ msg.components.achatFacture.dateReglement }}</label>
                            </p-floatlabel>

                            @if (formGroup.errors?.['dateReglementRequired']) {
                                <p-message severity="error" variant="simple" size="small">{{ msg.components.achatFacture.errors.dateReglementRequired }}</p-message>
                            }
                        </div>
                        
                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <p-select formControlName="typeReglment" inputId="typeReglment" [options]="typeReglements"
                                    appendTo="body" optionLabel="label" optionValue="value" style="height: 30px;" class="w-full" />
                                <label for="typeReglment">{{ msg.components.achatFacture.typeReglment }}</label>
                            </p-floatlabel>
                        </div>

                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <input pInputText id="numCheque" formControlName="numCheque" class="w-full" />
                                <label for="numCheque">{{ msg.components.achatFacture.numCheque }}</label>
                            </p-floatlabel>
                            @if (formGroup.errors?.['numChequeRequired']) {
                                <p-message severity="error" variant="simple" size="small">{{ msg.components.achatFacture.errors.numChequeRequired }}</p-message>
                            }
                        </div>

                        <div class="col-span-1">
                            <p-floatlabel class="w-full" variant="on">
                                <p-select formControlName="stockId" inputId="stockId"
                                    [options]="listStock" appendTo="body" optionLabel="designation" (onChange)="onChangeIdStock()"
                                    optionValue="id" style="height: 30px;" class="w-full" />
                                <label for="stockId">{{ msg.components.achatFacture.stockId }}</label>
                            </p-floatlabel>
                        </div>
                    </div>

                    @if (submitted && formGroup.errors?.['listDetAchatFactureRequired']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.achatSimple.errors.listDetAchatSimpleRequired }}</p-message>
                    }

                    <div class="flex flex-wrap gap-3" style="margin-top: 1rem;">
                        <div class="flex items-center gap-3 w-full">
                            <!-- Table -->
                            <div class="flex-1">
                                <p-table #dtDetAchatFactureTVA size="small" class="p-datatable-sm my-custom-datatable"
                                    [value]="listDetAchatFactureTVA" style="width: 100% !important;"
                                    [rows]="10"
                                    sortMode="multiple" [showGridlines]="true" [paginator]="true"
                                    [globalFilterFields]="['taux', 'mntHT', 'mntTVA', 'mntTTC']"
                                    [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="({currentPage} sur {totalPages})" [rowHover]="true">

                                    <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="taux" style="width: 24%">
                                            <div class="flex items-center gap-2">
                                                {{ msg.components.achatFacture.detAchatFactureTVA.taux }}
                                                <p-sortIcon field="taux" />
                                            </div>
                                        </th>

                                        <th pSortableColumn="mntHT" style="width: 24%">
                                            <div class="flex items-center gap-2">
                                                {{ msg.components.achatFacture.detAchatFactureTVA.mntHT }}
                                                <p-sortIcon field="mntHT" />
                                            </div>
                                        </th>

                                        <th pSortableColumn="mntTVA" style="width: 24%">
                                            <div class="flex items-center gap-2">
                                                {{ msg.components.achatFacture.detAchatFactureTVA.mntTVA }}
                                                <p-sortIcon field="mntTVA" />
                                            </div>
                                        </th>

                                        <th pSortableColumn="mntTTC" style="width: 24%">
                                            <div class="flex items-center gap-2">
                                                {{ msg.components.achatFacture.detAchatFactureTVA.mntTTC }}
                                                <p-sortIcon field="mntTTC" />
                                            </div>
                                        </th>
                                        <th style="width: 4%"></th>
                                    </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-p let-rowIndex="rowIndex">
                                    <tr>
                                        <td>{{ p.taux | number:'1.1-1' }}</td>
                                        <td>{{ p.mntHT | number:'1.2-2' }}</td>
                                        <td>{{ p.mntTVA | number:'1.2-2' }}</td>
                                        <td>{{ p.mntTTC | number:'1.2-2' }}</td>
                                        <td style="width: 5%; min-width: 7rem">
                                            <div class="flex gap-2">
                                                <p-button (click)="supprimerDetAchatFactureTVA($event, rowIndex)" icon="pi pi-trash" severity="danger" rounded [title]="msg.buttons.supprimer" />
                                            </div>
                                        </td>
                                    </tr>
                                    </ng-template>

                                    <ng-template pTemplate="footer">
                                        <tr>
                                            <td></td>
                                            <td class="font-bold p-3 pb-0">
                                                {{ listDetAchatFactureTVA | sum:'mntHT' | number:'1.2-2' }}
                                            </td>
                                            <td class="font-bold p-3 pb-0">
                                                {{ listDetAchatFactureTVA | sum:'mntTVA' | number:'1.2-2' }}
                                            </td>
                                            <td class="font-bold p-3 pb-0">
                                                {{ listDetAchatFactureTVA | sum:'mntTTC' | number:'1.2-2' }}
                                            </td>
                                            <td></td>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="8">No Achat Facture TVA found.</td>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="loading">
                                        <tr>
                                            <td colspan="8">Loading Achat Facture TVA data. Please wait.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                            <div class="flex items-center self-stretch justify-center">
                                <p-button icon="pi pi-plus" severity="success" rounded [title]="msg.buttons.ajouter" (click)="viderAjouterDetAchatFactureTVA()" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex flex-wrap gap-3" style="margin-top: 1rem;">
                        <p-table #dtDetStockDepot size="small" class="p-datatable-sm my-custom-datatable" [value]="listDetAchatFacture" dataKey="stockId" style="width: 100% !important;"
                            [rows]="10" 
                            sortMode="multiple" [showGridlines]="true" [paginator]="true"
                            [globalFilterFields]="['stockDesignation', 'stockQteFacturer', 'qteacheter', 'unitegratuit', 'mantantTTC']"
                            [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
                            currentPageReportTemplate="({currentPage} sur {totalPages})" [rowHover]="true">

                            <ng-template #header>
                                <tr>
                                    <th pSortableColumn="stockDesignation" style="width: 45%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.stock.designation }}
                                            <p-sortIcon field="stockDesignation" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="stockQteFacturer" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.stock.qteFacturer }}
                                            <p-sortIcon field="stockQteFacturer" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="qteacheter" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.detAchatFacture.qteacheter }}
                                            <p-sortIcon field="qteacheter" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="unitegratuit" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.detAchatFacture.unitegratuit }}
                                            <p-sortIcon field="unitegratuit" />
                                        </div>
                                    </th>

                                    <th pSortableColumn="mantantTTC" style="width: 8%">
                                        <div class="flex items-center gap-2">
                                            {{ msg.components.achatFacture.detAchatFacture.mantantTTC }}
                                            <p-sortIcon field="mantantTTC" />
                                        </div>
                                    </th>

                                    <th style="width: 5%"></th>
                                </tr>
                            </ng-template>

                            <ng-template #body let-p let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                                <tr [pSelectableRow]="p">
                                    <td>{{ p.stockDesignation }}</td>
                                    <td>{{ p.stockQteFacturer }}</td>
                                    <td>{{ p.qteAcheter }}</td>
                                    <td>{{ p.uniteGratuit }}</td>
                                    <td>{{ p.mantantTTC | number:'1.2-2' }}</td>
                                    <td style="width: 5%; min-width: 7rem">
                                        <div class="flex gap-2">
                                            <p-button (click)="recuppererDetAchatFacture(2, p)" icon="pi pi-trash" severity="danger" rounded [title]="msg.buttons.supprimer" />
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">No Produits found.</td>
                                </tr>
                            </ng-template>
                            <ng-template #loadingbody>
                                <tr>
                                    <td colspan="8">Loading Produits data. Please wait.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="openCloseDialogAjouter(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="miseAjour()" [disabled]="!formGroup.valid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogSupprimer" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (achatFacture) {
                    <span>{{ msg.components.achatFacture.messageDeleteAreYouSure }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button" class="p-button-outlined p-button-danger" (click)="dialogSupprimer = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="supprimer()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAjouterDetAchatFacture" [style]="{ width: '300px', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.messages.miseAJour} ${msg.components.achatFacture.detAchatFacture.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroupDetAchatFacture" class="p-fluid">
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on" class="w-full">
                                    <input pInputText formControlName="designation" id="designation" inputId="designation" class="w-full" />
                                    <label for="designation">{{ msg.components.livraison.stock.designation }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on" class="w-full">
                                    <p-inputNumber formControlName="qteFacturer" id="qteFacturer" inputId="qteFacturer" class="w-full" />
                                    <label for="qteFacturer">{{ msg.components.achatFacture.detAchatFacture.qteFacturer }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on" class="w-full">
                                    <p-inputNumber formControlName="prixAchatTtc" id="prixAchatTtc" inputId="prixAchatTtc" [minFractionDigits]="2" class="w-full" />
                                    <label for="prixAchatTtc">{{ msg.components.achatFacture.detAchatFacture.prixAchatTtc }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on" class="w-full">
                                    <p-inputNumber formControlName="qteAcheter" id="qteAcheter" inputId="qteAcheter" [min]="1" (onBlur)="calculerMontProd()" class="w-full" />
                                    <label for="qteAcheter">{{ msg.components.achatFacture.detAchatFacture.qteacheter }}</label>
                                </p-floatlabel>
                                @if (formGroupDetAchatFacture.get('qteAcheter')?.hasError('qteAcheterMustBeDifferentThan0')) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.achatFacture.detAchatFacture.errors.qteAcheterMustBeDifferentThan0 }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on" class="w-full">
                                    <p-inputNumber formControlName="uniteGratuit" id="uniteGratuit" inputId="uniteGratuit" class="w-full" />
                                    <label for="uniteGratuit">{{ msg.components.achatFacture.detAchatFacture.unitegratuit }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on" class="w-full">
                                    <p-inputNumber formControlName="remiseAchat" id="remiseAchat" inputId="remiseAchat" [minFractionDigits]="2" class="w-full" />
                                    <label for="remiseAchat">{{ msg.components.achatFacture.detAchatFacture.remiseAchat }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="openCloseDialogAjouterDetAchatFacture(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="validerProduits()" [disabled]="formGroupDetAchatFacture.invalid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAjouterDetAchatFactureTVA" [style]="{ width: '300px', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.messages.miseAJour} ${msg.components.achatFacture.detAchatFactureTVA.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroupDetAchatFactureTVA" class="p-fluid">
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="taux" id="taux" inputId="taux" [minFractionDigits]="1" [max]="100" />
                                    <label for="taux">{{ msg.components.achatFacture.detAchatFactureTVA.taux }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="mntHT" id="mntHT" inputId="mntHT" [minFractionDigits]="2"/>
                                    <label for="mntHT">{{ msg.components.achatFacture.detAchatFactureTVA.mntHT }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-inputNumber formControlName="mntTVA" id="mntTVA" inputId="mntTVA" [minFractionDigits]="2" />
                                    <label for="mntTVA">{{ msg.components.achatFacture.detAchatFactureTVA.mntTVA }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="openCloseDialogAjouterDetAchatFactureTVA(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="ajouterDetAchatFactureTVA()" [disabled]="formGroupDetAchatFactureTVA.invalid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogSupprimerDetAchatFacture" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (detAchatFacture) {
                    <span>{{ msg.components.achatFacture.messageDeleteAreYouSure }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button" class="p-button-outlined p-button-danger" (click)="dialogSupprimerDetAchatFacture = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="supprimerDetAchatFacture()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>