<div class="card">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar class="mb-4">
                <ng-template pTemplate="left" class="gap-2">
                    <div class="my-2">
                        <button pButton pRipple [label]="msg.buttons.ajouter" icon="pi pi-plus" class="p-button-info mr-2" (click)="viderAjouter()"></button>
                    </div>

                    <div class="my-2">
                        <p-button severity="success" [outlined]="typeOfList === 0 ? false : true" pRipple
                            icon="pi pi-crown" [label]="msg.components.repertoire.label" class="mr-2"
                            (click)="listOfAll()"></p-button>
                    </div>

                    <div class="my-2">
                        <p-button pRipple icon="pi pi-warehouse" [label]="msg.buttons.archive" severity="warn"
                            [outlined]="typeOfList === 1 ? false : true" class="mr-2"
                            (click)="archiveListe()"></p-button>
                    </div>

                    <div class="my-2">
                        <p-button severity="danger" [outlined]="typeOfList === 2 ? false : true" pRipple
                            [label]="msg.buttons.corbeille" icon="pi pi-trash" class="mr-2"
                            (click)="bloqueListe()"></p-button>
                    </div>

                    <div class="my-2">
                        <input pInputText type="text" placeholder="{{ msg.components.repertoire.search }}" (input)="searchByInputText()" [(ngModel)]="repertoireInputSearch" />
                    </div>

                    <div class="my-2" style="margin-left: 0.5ch;">
                        <p-button severity="help" pRipple [label]="`${msg.buttons.consulter} ${msg.buttons.pharmacie}`" icon="pi pi-print" (onClick)="viderImprimer(1)" class="mr-2" />
                        <p-button pRipple [label]="`${msg.buttons.consulter} ${msg.buttons.revendeur}`" icon="pi pi-print" (onClick)="viderImprimer(2)" class="p-button-blueRoyal mr-2" />
                        <p-button pRipple [label]="`${msg.buttons.consulter} ${msg.buttons.transport}`" icon="pi pi-print" (onClick)="imprimerTransport()" class="p-button-bleuCiel mr-2" />
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <p-table #dt size="small" class="p-datatable-sm" [value]="listRepertoire" dataKey="id" [rows]="20"
                selectionMode="single" [(selection)]="selectedRepertoire"
                [rowHover]="true" [showGridlines]="true" [paginator]="true"
                [globalFilterFields]="['typeRepertoire', 'designation', 'villeNomVille', 'ice', 'tel1', 'tel2', 'tel3', 'personnelDesignation', 'observation', 'nbrOperationClient']"
                [rowsPerPageOptions]="[20, 30, 40, 50, 60]" [showCurrentPageReport]="true"
                currentPageReportTemplate="({currentPage} sur {totalPages})">

                <ng-template #header>
                    <tr>
                        <th pSortableColumn="typeRepertoire" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.typeRepertoire }}
                                <p-sortIcon field="typeRepertoire" />
                            </div>
                        </th>

                        <th pSortableColumn="designation" style="width: 30%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.designation }}
                                <p-sortIcon field="designation" />
                            </div>
                        </th>

                        <th pSortableColumn="villeNomVille" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.villeId }}
                                <p-sortIcon field="villeNomVille" />
                            </div>
                        </th>

                        <th pSortableColumn="ice" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.ice }}
                                <p-sortIcon field="ice" />
                            </div>
                        </th>

                        <th pSortableColumn="tel1" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.tel1 }}
                                <p-sortIcon field="tel1" />
                            </div>
                        </th>

                        <th pSortableColumn="tel2" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.tel2 }}
                                <p-sortIcon field="tel2" />
                            </div>
                        </th>

                        <th pSortableColumn="tel3" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.tel3 }}
                                <p-sortIcon field="tel3" />
                            </div>
                        </th>

                        <th pSortableColumn="personnelDesignation" style="width: 15%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.personnelId }}
                                <p-sortIcon field="personnelDesignation" />
                            </div>
                        </th>

                        <th pSortableColumn="observation" style="width: 20%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.observation }}
                                <p-sortIcon field="observation" />
                            </div>
                        </th>

                        <th pSortableColumn="nbrOperationClient" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.repertoire.nbrOperationClient }}
                                <p-sortIcon field="nbrOperationClient" />
                            </div>
                        </th>

                        <th style="width: 10%"></th>
                    </tr>
                </ng-template>

                <ng-template #body let-p>
                    <tr [pSelectableRow]="p">
                        <td>{{ p.typeRepertoire | typeRepertoirePipe }}</td>
                        <td>{{ p.designation }}</td>
                        <td>{{ p.villeNomVille }}</td>
                        <td>{{ p.ice }}</td>
                        <td>{{ p.tel1 }}</td>
                        <td>{{ p.tel2 }}</td>
                        <td>{{ p.tel3 }}</td>
                        <td>{{ p.personnelDesignation }}</td>
                        <td>{{ p.observation }}</td>
                        <td>{{ p.nbrOperationClient }}</td>
                        <td>
                            <div class="flex gap-2">
                                @if (typeOfList === 0) {
                                <p-button (click)="recupperer(1, p)" icon="pi pi-pencil" severity="success" rounded
                                    [title]="msg.buttons.modifier" />
                                <p-button (click)="recupperer(3, p)" icon="pi pi-warehouse" severity="warn" rounded
                                    [title]="msg.buttons.archiver" />
                                <p-button (click)="recupperer(4, p)" icon="pi pi-trash" severity="danger" rounded
                                    [title]="msg.buttons.supprimer" />
                                }
                                @if (typeOfList === 1) {
                                <p-button (click)="recupperer(5, p)" icon="pi pi-times-circle" severity="help" rounded
                                    [title]="msg.buttons.desarchiver" />
                                }
                                @if (typeOfList === 2) {
                                <p-button (click)="recupperer(6, p)" icon="pi pi-times-circle" severity="help" rounded
                                    [title]="msg.buttons.restaurer" />
                                }
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="10">No Personnel found.</td>
                    </tr>
                </ng-template>
                <ng-template #loadingbody>
                    <tr>
                        <td colspan="10">Loading personnels data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="dialogAjouter" [style]="{ width: '500px', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.messages.miseAJour} ${msg.components.repertoire.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroup" class="p-fluid">
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full" variant="on">
                                    <p-select formControlName="typeRepertoire" inputId="typeRepertoire"
                                        [options]="typeRepertoire" appendTo="body" optionLabel="label"
                                        optionValue="value" style="height: 30px;" class="w-full" />
                                    <label for="typeRepertoire">{{ msg.components.repertoire.typeRepertoire }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="designation" formControlName="designation" required class="w-full"
                                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('designation')?.invalid || formGroup.get('designation')?.errors?.['exist'] }" />
                                    <label for="designation">{{ msg.components.repertoire.designation }}</label>
                                </p-floatlabel>
                                @if(formGroup.get('designation')?.errors?.['exist']) {
                                    <p-message severity="error">{{ formGroup.get('designation')?.errors?.['message'] }}</p-message>
                                }
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full" variant="on">
                                    <p-select formControlName="villeId" inputId="villeId" [options]="listVille"
                                        appendTo="body" optionLabel="nomVille" optionValue="id" style="height: 30px;"
                                        class="w-full" />
                                    <label for="villeId">{{ msg.components.repertoire.villeId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="tel1" formControlName="tel1" [maxlength]="10" class="w-full"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel1EqualTel3'] || formGroup.get('tel1')?.errors?.['exist'] }" />
                                    <label for="tel1">{{ msg.components.repertoire.tel1 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel1EqualTel3']) {
                                    @if (formGroup.errors?.['tel1EqualTel2']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel2Identique }}</p-message>
                                    }
                                    @if (formGroup.errors?.['tel1EqualTel3']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel3Identique }}</p-message>
                                    }
                                }
                                @if(formGroup.get('tel1')?.errors?.['exist']) {
                                    <p-message severity="error">{{ formGroup.get('tel1')?.errors?.['message'] }}</p-message>
                                }
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="tel2" formControlName="tel2" [maxlength]="10" class="w-full"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel2EqualTel3'] || formGroup.get('tel2')?.errors?.['exist'] }" />
                                    <label for="tel2">{{ msg.components.repertoire.tel2 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel2EqualTel3']) {
                                    @if (formGroup.errors?.['tel1EqualTel2']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel2Identique }}</p-message>
                                    }
                                    @if (formGroup.errors?.['tel2EqualTel3']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel2AndTel3Identique }}</p-message>
                                    }
                                }
                                @if(formGroup.get('tel2')?.errors?.['exist']) {
                                    <p-message severity="error">{{ formGroup.get('tel2')?.errors?.['message'] }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="tel3" formControlName="tel3" [maxlength]="10" class="w-full"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel3'] || formGroup.errors?.['tel2EqualTel3'] || formGroup.get('tel3')?.errors?.['exist'] }" />
                                    <label for="tel1">{{ msg.components.repertoire.tel3 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['tel1EqualTel3'] || formGroup.errors?.['tel2EqualTel3']) {
                                    @if (formGroup.errors?.['tel1EqualTel3']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel3Identique }}</p-message>
                                    }
                                    @if (formGroup.errors?.['tel2EqualTel3']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel2AndTel3Identique }}</p-message>
                                    }
                                }
                                @if(formGroup.get('tel3')?.errors?.['exist']) {
                                    <p-message severity="error">{{ formGroup.get('tel3')?.errors?.['message'] }}</p-message>
                                }
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="ice" formControlName="ice" maxlength="15" class="w-full"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.get('ice')?.errors?.['exist'] }" />
                                    <label for="ice">{{ msg.components.repertoire.ice }}</label>
                                </p-floatlabel>
                                @if(formGroup.get('ice')?.errors?.['exist']) {
                                    <p-message severity="error">{{ formGroup.get('ice')?.errors?.['message'] }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="observation" formControlName="observation" class="w-full" />
                                    <label for="observation">{{ msg.components.repertoire.observation }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full" variant="on">
                                    <p-select formControlName="personnelId" inputId="personnelId"
                                        [options]="listPersonnel" appendTo="body" optionLabel="designation"
                                        optionValue="id" style="height: 30px;" class="w-full" />
                                    <label for="personnelId">{{ msg.components.repertoire.personnelId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <p-input-number id="plafond" formControlName="plafond" [min]="0"
                                        [maxFractionDigits]="2" class="w-full" />
                                    <label for="plafond">{{ msg.components.repertoire.plafond }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times"
                    class="p-button-outlined p-button-danger" (click)="openCloseDialogAjouter(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="miseAjour()" [disabled]="!formGroup.valid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogSupprimer" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (repertoire) {
                <span>{{ msg.components.repertoire.messageDeleteAreYouSure }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogSupprimer = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="supprimer()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogArchiver" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (repertoire) {
                <span>{{ msg.components.repertoire.messageDeleteAreYouSureArchive }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogArchiver = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="archiver(true)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogCorbeille" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (repertoire) {
                <span>{{ msg.components.repertoire.messageDeleteAreYouSureCorbeille }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogCorbeille = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="corbeille(true)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAnnulerArchiver" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (repertoire) {
                <span>{{ msg.components.repertoire.messageDeleteAreYouSureAnnulerArchive }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogAnnulerArchiver = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="archiver(false)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAnnulerCorbeille" [header]="msg.messages.confirm" [modal]="true"
            [style]="{ width: '450px' }" [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (repertoire) {
                <span>{{ msg.components.repertoire.messageDeleteAreYouSureAnnulerCorbeille }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                    class="p-button-outlined p-button-danger" (click)="dialogAnnulerCorbeille = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success"
                    (click)="corbeille(false)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogImprimer" [style]="{ width: '300px', maxWidth: '100%' }"
            [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
            [header]="`${msg.components.absence.imprimer.label}`" [modal]="true" class="p-fluid"
            [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroupImprimer" class="p-fluid">
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-select formControlName="villeId" inputId="villeIdImprimer" [options]="listVille"
                                        appendTo="body" optionLabel="nomVille" optionValue="id" style="height: 30px;"
                                        class="w-full md:w-56" />
                                    <label for="villeIdImprimer">{{ msg.components.repertoire.villeId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-select formControlName="personnelId" inputId="personnelIdImprimer"
                                        [options]="listPersonnel" appendTo="body" optionLabel="designation"
                                        optionValue="id" style="height: 30px;" class="w-full md:w-56" />
                                    <label for="personnelIdImprimer">{{ msg.components.repertoire.personnelId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-select formControlName="typeImprimRepertoire" inputId="typeImprimRepertoireImprimer"
                                        [options]="typeRepertoireImprimPharmacie" appendTo="body"
                                        optionLabel="label" optionValue="value" style="height: 30px;"
                                        class="w-full md:w-56" />
                                    <label for="typeImprimRepertoireImprimer">{{ msg.components.repertoire.typeImprimRepertoire }}</label>
                                </p-floatlabel>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="openCloseDialogImprimer(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="imprimer()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>