<div class="card">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar class="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button
                pButton
                pRipple
                label="Ajouter"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="viderAjouter()"
              ></button>
            </div>
          </ng-template>
  
          <ng-template pTemplate="right">
            <button
              pButton
              pRipple
              label="Export"
              icon="pi pi-upload"
              class="p-button-help"
              (click)="dt.exportCSV()"
            ></button>
          </ng-template>
        </p-toolbar>
  
        <p-table
              #dt
              [value]="listPersonnel"
              dataKey="id"
              [rows]="10"
              [rowHover]="true"
              [showGridlines]="true"
              [paginator]="true"
              [globalFilterFields]="['designation', 'cin', 'login', 'tel1', 'tel2']"
              [rowsPerPageOptions]="[10, 20, 30]"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowHover]="true"
              responsiveLayout="scroll"
          >
          <ng-template #caption>
              <div class="flex justify-between items-center flex-column sm:flex-row">
                  <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
                  <p-iconfield iconPosition="left" class="ml-auto">
                      <p-inputicon>
                          <i class="pi pi-search"></i>
                      </p-inputicon>
                      <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search keyword" />
                  </p-iconfield>
              </div>
          </ng-template>
  
          <ng-template #header>
            <tr>
              <th></th>
  
              <th style="min-width: 12rem">
                  <div class="flex justify-between items-center">
                      Designation
                      <p-columnFilter type="text" field="designation" display="menu" placeholder="Search by designation"></p-columnFilter>
                  </div>
              </th>

              <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    CIN
                    <p-columnFilter type="text" field="cin" display="menu" placeholder="Search by cin"></p-columnFilter>
                </div>
              </th>

              <th style="min-width: 12rem">
                  <div class="flex justify-between items-center">
                      Type
                      <p-columnFilter type="text" field="typePersonnel" display="menu" placeholder="Search by typePersonnel"></p-columnFilter>
                  </div>
              </th>

              <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Tel1
                    <p-columnFilter type="text" field="tel1" display="menu" placeholder="Search by tel1"></p-columnFilter>
                </div>
              </th>

              <th style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Tel2
                    <p-columnFilter type="text" field="tel2" display="menu" placeholder="Search by tel2"></p-columnFilter>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template #body let-p>
            <tr>
              <td style="width: 10%; min-width: 7rem">
                <div class="flex gap-2">
                  <p-button (click)="recupperer(1, p)" icon="pi pi-pencil" severity="success" rounded />
                  <p-button (click)="recupperer(2, p)" icon="pi pi-trash" severity="danger" rounded />
                </div>
              </td>

              <td>{{ p.designation }}</td>
              <td>{{ p.cin }}</td>
              <td>{{ p.typePersonnel | typePersonnelPipe }}</td>
              <td>{{ p.tel1 }}</td>
              <td>{{ p.tel2 }}</td>
            </tr>
          </ng-template>
  
          <ng-template #emptymessage>
              <tr>
                  <td colspan="6">No Personnel found.</td>
              </tr>
          </ng-template>
          <ng-template #loadingbody>
              <tr>
                  <td colspan="6">Loading personnels data. Please wait.</td>
              </tr>
          </ng-template>
        </p-table>
      </div>
  
      <p-dialog [(visible)]="dialogAjouter" [style]="{ width: '700px', maxWidth: '100%' }" [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
        header="Mise à jour Personnel" [modal]="true" class="p-fluid" [closable]="false">
        <!-- Form content must go inside ng-template -->
        <ng-template pTemplate="content">
          <div [formGroup]="formGroup" class="p-fluid">
            <div class="card flex flex-col gap-4">
              <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <input pInputText id="designation" formControlName="designation" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('designation')?.invalid }" />
                    <label for="designation">Désignation</label>
                  </p-floatlabel>
                </div>

                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <input pInputText id="cin" formControlName="cin" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('cin')?.invalid }" />
                    <label for="cin">CIN</label>
                  </p-floatlabel>
                </div>
              </div>

              <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0">
                  <p-floatlabel class="w-full md:w-56" variant="on">
                    <p-select formControlName="typePersonnel" inputId="typePersonnel" [options]="typePersonnel" appendTo="body" optionLabel="label" optionValue="value" style="height: 30px;" class="w-full md:w-56" />
                    <label for="typePersonnel">Type Personnel</label>
                  </p-floatlabel>
                </div>

                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <input pInputText id="login" formControlName="login" />
                    <label for="login">Login</label>
                  </p-floatlabel>
                </div>
              </div>

              <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <p-password id="password" formControlName="password" />
                    <label for="password">Password</label>
                  </p-floatlabel>
                </div>

                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <p-date-picker id="dateEntrer" formControlName="dateEntrer" appendTo="body"/>
                    <label for="dateEntrer">Date Entrée</label>
                  </p-floatlabel>
                </div>
              </div>

              <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <input pInputText id="tel1" formControlName="tel1" />
                    <label for="tel1">Tel1</label>
                  </p-floatlabel>
                </div>

                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <input pInputText id="tel2" formControlName="tel2" />
                    <label for="tel2">Tel2</label>
                  </p-floatlabel>
                </div>
              </div>

              <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <input pInputText id="adresse" formControlName="adresse" />
                    <label for="adresse">Adresse</label>
                  </p-floatlabel>
                </div>

                <div class="flex flex-col grow basis-0">
                  <p-floatlabel variant="on">
                    <p-input-number id="salaire" formControlName="salaire" [min]="0" />
                    <label for="salaire">Salaire</label>
                  </p-floatlabel>
                </div>
              </div>

              <div class="flex flex-wrap gap-6">
                <div class="flex flex-col grow basis-0">
                  <p-togglebutton name="etatComptePersonnel" formControlName="etatComptePersonnel" onLabel="Activé" offLabel="Désactivé" />
                </div>

                <div class="flex flex-col grow basis-0"></div>
              </div>
            </div>
          </div>
        </ng-template>
  
        <!-- Footer template -->
        <ng-template pTemplate="footer">
          <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-outlined p-button-info" (click)="openCloseDialogAjouter(false)"></button>
          <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-info" (click)="miseAjour()" [disabled]="!formGroup.valid"></button>
        </ng-template>
      </p-dialog>
  
      <p-dialog [(visible)]="dialogSupprimer" header="Confirm" [modal]="true" [style]="{ width: '450px' }" [closable]="false">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          @if (personnel) {
            <span>Are you sure you want to delete this Personnel ?</span>
          }
        </div>

        <ng-template pTemplate="footer">
          <button pButton pRipple icon="pi pi-times" type="button" label="Fermer" class="p-button-outlined p-button-info" (click)="dialogSupprimer = false"></button>
          <button pButton pRipple label="Valider" icon="pi pi-check" class="p-button-info" (click)="supprimer()"></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
  