<div class="card">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar class="mb-4">
                <ng-template pTemplate="left" class="gap-2">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            [label]="msg.buttons.ajouter"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="viderAjouter()"
                        ></button>
                    </div>

                    @if (typeOfList !== 0) {
                        <div class="my-2">
                            <p-button
                                pRipple
                                icon="pi pi-crown"
                                [label]="msg.components.stock.label"
                                severity="contrast"
                                class="mr-2"
                                (click)="listOfStock()"
                            ></p-button>
                        </div>
                    }

                    @if (typeOfList !== 1) {
                        <div class="my-2">
                            <p-button
                                pRipple
                                icon="pi pi-warehouse"
                                [label]="msg.buttons.archive"
                                severity="info"
                                class="mr-2"
                                (click)="archiveListe()"
                            ></p-button>
                        </div>
                    }

                    @if (typeOfList !== 2) {
                        <div class="my-2">
                            <p-button
                                pRipple
                                [label]="msg.buttons.corbeille"
                                icon="pi pi-trash"
                                severity="danger"
                                class="mr-2"
                                (click)="corbeilleListe()"
                            ></p-button>
                        </div>
                    }
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                size="small"
                class="p-datatable-sm"
                [value]="listStock"
                dataKey="id"
                [rows]="10"
                [rowHover]="true"
                [showGridlines]="true"
                [paginator]="true"
                [globalFilterFields]="['designation', 'qteStock', 'qteFacturer', 'qteStockImport', 'pattc', 'pvttc', 'prixCommercial', 'prixVentMin1', 'remiseMax1', 'benifice', 'fournisseurId']"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="({first} of {totalRecords})"
            >

                <ng-template #header>
                    <tr>
                        <th pSortableColumn="designation" style="width: 40%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.designation }}
                                <p-sortIcon field="designation"/>
                            </div>
                        </th>

                        <th pSortableColumn="qteStock" style="width: 5%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.qteStockTable }}
                                <p-sortIcon field="qteStock"/>
                            </div>
                        </th>

                        <th pSortableColumn="qteFacturer" style="width: 5%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.qteFacturerTable }}
                                <p-sortIcon field="qteFacturer"/>
                            </div>
                        </th>

                        <th pSortableColumn="qteStockImport" style="width: 5%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.qteStockImportTable }}
                                <p-sortIcon field="qteStockImport"/>
                            </div>
                        </th>

                        <th pSortableColumn="pattc" style="width: 6%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.pattc }}
                                <p-sortIcon field="pattc"/>
                            </div>
                        </th>

                        <th pSortableColumn="pvttc" style="width: 6%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.pvttc }}
                                <p-sortIcon field="pvttc"/>
                            </div>
                        </th>

                        <th pSortableColumn="prixCommercial" style="width: 6%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.prixCommercial }}
                                <p-sortIcon field="prixCommercial"/>
                            </div>
                        </th>

                        <th pSortableColumn="prixVentMin1" style="width: 6%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.prixVentMin }}
                                <p-sortIcon field="prixVentMin1"/>
                            </div>
                        </th>

                        <th pSortableColumn="remiseMax1" style="width: 6%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.remiseMax }}
                                <p-sortIcon field="remiseMax1"/>
                            </div>
                        </th>

                        <th pSortableColumn="benifice" style="width: 6%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.benifice }}
                                <p-sortIcon field="benifice"/>
                            </div>
                        </th>

                        <th pSortableColumn="fournisseurId" style="width: 10%">
                            <div class="flex items-center gap-2">
                                {{ msg.components.stock.fournisseurId }}
                                <p-sortIcon field="fournisseurId"/>
                            </div>
                        </th>

                        <th></th>
                    </tr>
                </ng-template>
                <ng-template #body let-p>
                    <tr>
                        <td>{{ p.designation }}</td>
                        <td>{{ p.qteStock }}</td>
                        <td>{{ p.qteFacturer }}</td>
                        <td>{{ p.qteStockImport }}</td>
                        <td>{{ p.pattc }}</td>
                        <td>{{ p.pvttc }}</td>
                        <td>{{ p.prixCommercial }}</td>
                        <td>{{ p.prixVentMin1 }}</td>
                        <td>{{ p.remiseMax1 }}</td>
                        <td>{{ p.benifice | number: '1.2-3' }}</td>
                        <td>{{ getDesignation(p.fournisseurId) }}</td>
                        <td style="width: 10%; min-width: 7rem">
                            <div class="flex gap-2">
                                <p-button (click)="recupperer(1, p)" icon="pi pi-pencil" severity="success" rounded
                                          title="Modifier"/>
                                <p-button (click)="recupperer(2, p)" icon="pi pi-trash" severity="danger" rounded
                                          title="Supprimer"/>
                                @if (typeOfList === 0) {
                                    <p-button (click)="recupperer(3, p)" icon="pi pi-warehouse" severity="help" rounded
                                              title="Archiver"/>
                                    <p-button (click)="recupperer(4, p)" icon="pi pi-ban" severity="warn" rounded
                                              title="Corbeille"/>
                                }
                                @if (typeOfList === 1) {
                                    <p-button (click)="recupperer(5, p)" icon="pi pi-times-circle" severity="help"
                                              rounded title="Annuler Archiver"/>
                                }
                                @if (typeOfList === 2) {
                                    <p-button (click)="recupperer(6, p)" icon="pi pi-times-circle" severity="help"
                                              rounded title="Annuler Corbeille"/>
                                }
                            </div>
                        </td>
                    </tr>
                </ng-template>

                <ng-template #emptymessage>
                    <tr>
                        <td colspan="12">No Stock found.</td>
                    </tr>
                </ng-template>
                <ng-template #loadingbody>
                    <tr>
                        <td colspan="12">Loading Stocks data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="dialogAjouter" [style]="{ width: '700px', maxWidth: '100%' }"
                  [breakpoints]="{ '960px': '90vw', '640px': '95vw' }"
                  [header]="`${msg.messages.miseAJour} ${msg.components.stock.label}`" [modal]="true" class="p-fluid" [closable]="false">
            <!-- Form content must go inside ng-template -->
            <ng-template pTemplate="content">
                <div [formGroup]="formGroup" class="p-fluid">
                    <div class="card flex flex-col gap-4">
                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-select formControlName="fournisseurId" inputId="fournisseurId"
                                              [options]="listFournisseur" appendTo="body" optionLabel="designation"
                                              optionValue="id" style="height: 30px;" class="w-full md:w-56"/>
                                    <label for="fournisseurId">{{ msg.components.stock.fournisseurId }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel variant="on">
                                    <input pInputText id="designation" formControlName="designation" required
                                           [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('designation')?.invalid }"/>
                                    <label for="designation">{{ msg.components.stock.designation }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="pattc" inputId="pattc" allowEmpty="false" [maxFractionDigits]="2"
                                                    (onBlur)="calculerBenefice()" required
                                                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('pattc')?.invalid }"/>
                                    <label for="pattc">{{ msg.components.stock.pattc }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prixCommercial" [maxFractionDigits]="2" inputId="prixCommercial"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prixCommercialMustBeGreatThanPattc'] || formGroup.get('prixCommercial')?.errors?.['negative'] }"/>
                                    <label for="prixCommercial">{{ msg.components.stock.prixCommercialMAj }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prixCommercialMustBeGreatThanPattc'] || formGroup.get('prixCommercial')?.errors?.['negative']) {
                                    @if (formGroup.errors?.['prixCommercialMustBeGreatThanPattc']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixCommercialMustBeGreatThanPattc }}</p-message>
                                    }
                                    @if (formGroup.get('prixCommercial')?.errors?.['negative']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                    }
                                }
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="pvttc" inputId="pvttc" allowEmpty="false" [maxFractionDigits]="2"
                                                    (onBlur)="calculerBenefice()" required
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.get('pvttc')?.invalid || formGroup.errors?.['pvttcMustBeGreatThanPattc'] }"/>
                                    <label for="pvttc">{{ msg.components.stock.pvttcMAJ }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['pvttcMustBeGreatThanPattc']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.pvttcMustBeGreatThanPattc }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="tva" allowEmpty="false" inputId="tva" [min]="0" />
                                    <label for="tva">{{ msg.components.stock.tva }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="benifice" inputId="benifice" [maxFractionDigits]="2" />
                                    <label for="benifice">{{ msg.components.stock.benifice }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qteStock" inputId="qteStock"/>
                                    <label for="qteStock">{{ msg.components.stock.qteStock }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qteFacturer" inputId="qteFacturer"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('qteFacturer')?.invalid }"/>
                                    <label for="qteFacturer">{{ msg.components.stock.qteFacturer }}</label>
                                </p-floatlabel>
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qteStockImport" inputId="qteStockImport"/>
                                    <label for="qteStockImport">{{ msg.components.stock.qteStockImport }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prixVentMin1" inputId="prixVentMin1" (onBlur)="onChangePrixVenteMin(1)" [maxFractionDigits]="2"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prixVentMin1Required'] || formGroup.get('prixVentMin1')?.errors?.['negative'] || formGroup.errors?.['prixVentMin1MustBeGreaterThanprixVentMin2'] || formGroup.errors?.['prixVentMin1MustBeGreaterThanPATTC'] }"/>
                                    <label for="prixVentMin1">{{ msg.components.stock.prixVentMin1 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prixVentMin1Required'] || formGroup.errors?.['prixVentMin1MustBeGreaterThanprixVentMin2'] || formGroup.errors?.['prixVentMin1MustBeGreaterThanPATTC']) {
                                    @if (formGroup.errors?.['prixVentMin1Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin1Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin1MustBeGreaterThanprixVentMin2']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin1MustBeGreaterThanprixVentMin2 }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin1MustBeGreaterThanPATTC']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin1MustBeGreaterThanPATTC }}</p-message>
                                    }
                                }
                                @if (formGroup.get('prixVentMin1')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qtePVMin1" inputId="qtePVMin1" [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['qtePVMin1Required'] || formGroup.get('qtePVMin1')?.errors?.['negative'] }"/>
                                    <label for="qtePVMin1">{{ msg.components.stock.qtePVMin1 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['qtePVMin1Required']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin1Required }}</p-message>
                                }
                                @if (formGroup.get('qtePVMin1')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="remiseMax1" inputId="remiseMax1" [maxFractionDigits]="2" />
                                    <label for="remiseMax1">{{ msg.components.stock.remiseMax1 }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prixVentMin2" inputId="prixVentMin2" (onBlur)="onChangePrixVenteMin(2)" [maxFractionDigits]="2"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prixVentMin2Required'] || formGroup.get('prixVentMin2')?.errors?.['negative'] || formGroup.errors?.['prixVentMin2MustBeGreaterThanprixVentMin3'] || formGroup.errors?.['prixVentMin2MustBeGreaterThanPATTC'] }"/>
                                    <label for="prixVentMin2">{{ msg.components.stock.prixVentMin2 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prixVentMin2Required'] || formGroup.errors?.['prixVentMin2MustBeGreaterThanprixVentMin3'] || formGroup.errors?.['prixVentMin2MustBeGreaterThanPATTC']) {
                                    @if (formGroup.errors?.['prixVentMin2Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin2Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin2MustBeGreaterThanprixVentMin3']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin2MustBeGreaterThanprixVentMin3 }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin2MustBeGreaterThanPATTC']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin2MustBeGreaterThanPATTC }}</p-message>
                                    }
                                }
                                @if (formGroup.get('prixVentMin2')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qtePVMin2" inputId="qtePVMin2"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['qtePVMin2Required'] || formGroup.get('qtePVMin2')?.errors?.['negative'] || formGroup.errors?.['qtePVMin2MustBeGreaterThanqtePVMin1'] }"/>
                                    <label for="qtePVMin2">{{ msg.components.stock.qtePVMin2 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['qtePVMin2Required'] || formGroup.errors?.['qtePVMin2MustBeGreaterThanqtePVMin1']) {
                                    @if (formGroup.errors?.['qtePVMin2Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin2Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['qtePVMin2MustBeGreaterThanqtePVMin1']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin2MustBeGreaterThanqtePVMin1 }}</p-message>
                                    }
                                }
                                @if (formGroup.get('qtePVMin2')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="remiseMax2" inputId="remiseMax2" [maxFractionDigits]="2" />
                                    <label for="remiseMax2">{{ msg.components.stock.remiseMax2 }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prixVentMin3" inputId="prixVentMin3" (onBlur)="onChangePrixVenteMin(3)" [maxFractionDigits]="2"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prixVentMin3Required'] || formGroup.get('prixVentMin3')?.errors?.['negative'] || formGroup.errors?.['prixVentMin3MustBeGreaterThanprixVentMin4'] || formGroup.errors?.['prixVentMin3MustBeGreaterThanPATTC'] }"/>
                                    <label for="prixVentMin3">{{ msg.components.stock.prixVentMin3 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prixVentMin3Required'] || formGroup.errors?.['prixVentMin3MustBeGreaterThanprixVentMin4'] || formGroup.errors?.['prixVentMin3MustBeGreaterThanPATTC']) {
                                    @if (formGroup.errors?.['prixVentMin3Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin3Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin3MustBeGreaterThanprixVentMin4']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin3MustBeGreaterThanprixVentMin4 }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin1MustBeGreaterThanPATTC']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin3MustBeGreaterThanPATTC }}</p-message>
                                    }
                                }
                                @if (formGroup.get('prixVentMin3')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qtePVMin3" inputId="qtePVMin3"
                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['qtePVMin3Required'] || formGroup.get('qtePVMin3')?.errors?.['negative'] || formGroup.errors?.['qtePVMin3MustBeGreaterThanqtePVMin2'] }"/>
                                    <label for="qtePVMin3">{{ msg.components.stock.qtePVMin3 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['qtePVMin3Required'] || formGroup.errors?.['qtePVMin3MustBeGreaterThanqtePVMin2']) {
                                    @if (formGroup.errors?.['qtePVMin3Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin3Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['qtePVMin3MustBeGreaterThanqtePVMin2']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin3MustBeGreaterThanqtePVMin2 }}</p-message>
                                    }
                                }
                                @if (formGroup.get('qtePVMin3')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="remiseMax3" inputId="remiseMax3" [maxFractionDigits]="2" />
                                    <label for="remiseMax3">{{ msg.components.stock.remiseMax3 }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prixVentMin4" inputId="prixVentMin4" (onBlur)="onChangePrixVenteMin(4)" [maxFractionDigits]="2"
                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prixVentMin4Required'] || formGroup.get('prixVentMin4')?.errors?.['negative'] || formGroup.errors?.['prixVentMin4MustBeGreaterThanPATTC'] }"/>
                                    <label for="prixVentMin4">{{ msg.components.stock.prixVentMin4 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prixVentMin4Required'] || formGroup.errors?.['prixVentMin4MustBeGreaterThanPATTC']) {
                                    @if (formGroup.errors?.['prixVentMin4Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin1Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['prixVentMin4MustBeGreaterThanPATTC']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prixVentMin4MustBeGreaterThanPATTC }}</p-message>
                                    }
                                }
                                @if (formGroup.get('prixVentMin4')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="qtePVMin4" inputId="qtePVMin4"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['qtePVMin4Required'] || formGroup.get('qtePVMin4')?.errors?.['negative'] || formGroup.errors?.['qtePVMin4MustBeGreaterThanprixVentMin2'] }"/>
                                    <label for="qtePVMin4">{{ msg.components.stock.qtePVMin4 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['qtePVMin4Required'] || formGroup.errors?.['qtePVMin4MustBeGreaterThanqtePVMin3']) {
                                    @if (formGroup.errors?.['qtePVMin4Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin4Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['qtePVMin4MustBeGreaterThanqtePVMin3']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.qtePVMin4MustBeGreaterThanqtePVMin3 }}</p-message>
                                    }
                                }
                                @if (formGroup.get('qtePVMin4')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="remiseMax4" inputId="remiseMax4" [maxFractionDigits]="2" />
                                    <label for="remiseMax4">{{ msg.components.stock.remiseMax4 }}</label>
                                </p-floatlabel>
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="montant1" inputId="montant1" [maxFractionDigits]="2"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['montant1Required'] || formGroup.get('montant1')?.errors?.['negative'] }"/>
                                    <label for="montant1">{{ msg.components.stock.montant1 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['montant1Required']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.montant1Required }}</p-message>
                                }
                                @if (formGroup.get('montant1')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prime1" inputId="prime1" [maxFractionDigits]="2"
                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prime1Required'] || formGroup.get('prime1')?.errors?.['negative'] }"/>
                                    <label for="prime1">{{ msg.components.stock.prime1 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prime1Required']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prime1Required }}</p-message>
                                }
                                @if (formGroup.get('prime1')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="montant2" inputId="montant2" [maxFractionDigits]="2"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['montant2Required'] || formGroup.get('montant2')?.errors?.['negative'] || formGroup.errors?.['montant2MustBeGreaterThanmontant1'] }"/>
                                    <label for="montant2">{{ msg.components.stock.montant2 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['montant2Required'] || formGroup.errors?.['montant2MustBeGreaterThanmontant1']) {
                                    @if (formGroup.errors?.['montant2Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.montant2Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['montant2MustBeGreaterThanmontant1']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.montant2MustBeGreaterThanmontant1 }}</p-message>
                                    }
                                }
                                @if (formGroup.get('montant2')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prime2" inputId="prime2" [maxFractionDigits]="2"
                                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prime2Required'] || formGroup.get('prime2')?.errors?.['negative'] }"/>
                                    <label for="prime2">{{ msg.components.stock.prime2 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prime2Required']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prime2Required }}</p-message>
                                }
                                @if (formGroup.get('prime2')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>
                        </div>

                        <div class="flex flex-wrap gap-6">
                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="montant3" inputId="montant3" [maxFractionDigits]="2"
                                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['montant3Required'] || formGroup.get('montant3')?.errors?.['negative'] || formGroup.errors?.['montant3MustBeGreaterThanmontant2'] }"/>
                                    <label for="montant3">{{ msg.components.stock.montant3 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['montant3Required'] || formGroup.errors?.['montant3MustBeGreaterThanmontant2']) {
                                    @if (formGroup.errors?.['montant3Required']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.montant3Required }}</p-message>
                                    }
                                    @if (formGroup.errors?.['montant3MustBeGreaterThanmontant2']) {
                                        <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.montant3MustBeGreaterThanmontant2 }}</p-message>
                                    }
                                }
                                @if (formGroup.get('montant3')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>

                            <div class="flex flex-col grow basis-0">
                                <p-floatlabel class="w-full md:w-56" variant="on">
                                    <p-input-number formControlName="prime3" inputId="prime3" [maxFractionDigits]="2"
                                    [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['prime3Required'] || formGroup.get('prime3')?.errors?.['negative'] }"/>
                                    <label for="prime3">{{ msg.components.stock.prime3 }}</label>
                                </p-floatlabel>
                                @if (formGroup.errors?.['prime3Required']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.components.stock.errors.prime3Required }}</p-message>
                                }
                                @if (formGroup.get('prime3')?.errors?.['negative']) {
                                    <p-message severity="error" variant="simple" size="small">{{ msg.messages.numberMustBeEqualZeroOrPositive }}</p-message>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <!-- Footer template -->
            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" class="p-button-outlined p-button-info"
                        (click)="openCloseDialogAjouter(false)"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-info" (click)="miseAjour()"
                        [disabled]="formGroup.invalid"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogSupprimer" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }"
                  [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (stock) {
                    <span>{{ msg.components.stock.messageDeleteAreYouSure }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                        class="p-button-outlined p-button-info" (click)="dialogSupprimer = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-info"
                        (click)="supprimer()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogArchiver" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }"
                  [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (stock) {
                    <span>{{ msg.components.stock.messageDeleteAreYouSureArchive }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                        class="p-button-outlined p-button-info" (click)="dialogArchiver = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-info"
                        (click)="archiver(true)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogCorbeille" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }"
                  [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (stock) {
                    <span>{{ msg.components.stock.messageDeleteAreYouSureCorbeille }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                        class="p-button-outlined p-button-info" (click)="dialogCorbeille = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-info"
                        (click)="corbeille(true)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAnnulerArchiver" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }"
                  [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (stock) {
                    <span>{{ msg.components.stock.messageDeleteAreYouSureAnnulerArchive }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                        class="p-button-outlined p-button-info" (click)="dialogAnnulerArchiver = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-info"
                        (click)="archiver(false)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="dialogAnnulerCorbeille" [header]="msg.messages.confirm" [modal]="true" [style]="{ width: '450px' }"
                  [closable]="false">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                @if (stock) {
                    <span>{{ msg.components.stock.messageDeleteAreYouSureAnnulerCorbeille }}</span>
                }
            </div>

            <ng-template pTemplate="footer">
                <button pButton pRipple [label]="msg.buttons.fermer" icon="pi pi-times" type="button"
                        class="p-button-outlined p-button-info" (click)="dialogAnnulerCorbeille = false"></button>
                <button pButton pRipple [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-info"
                        (click)="corbeille(false)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
