<div [formGroup]="formGroup" class="p-fluid">
    <div class="card flex flex-col gap-4">
        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0">
                <p-floatlabel class="w-full" variant="on">
                    <p-select formControlName="typeRepertoire" inputId="typeRepertoire"
                        [options]="typeRepertoire" appendTo="body" optionLabel="label"
                        optionValue="value" style="height: 30px;" class="w-full" />
                    <label for="typeRepertoire">{{ msg.components.repertoire.typeRepertoire }}</label>
                </p-floatlabel>
            </div>

            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <input pInputText id="designation" formControlName="designation" class="w-full"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && formGroup.get('designation')?.invalid || formGroup.get('designation')?.errors?.['exist'] }" />
                    <label for="designation">{{ msg.components.repertoire.designation }}</label>
                </p-floatlabel>
                @if(formGroup.get('designation')?.errors?.['exist']) {
                    <p-message severity="error">{{ formGroup.get('designation')?.errors?.['message'] }}</p-message>
                }
            </div>
        </div>

        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0">
                <p-floatlabel class="w-full" variant="on">
                    <p-select formControlName="villeId" inputId="villeId" [options]="listVille"
                        [filter]="true" filterBy="nomVille" [resetFilterOnHide]="true"
                        appendTo="body" optionLabel="nomVille" optionValue="id" style="height: 30px;"
                        class="w-full" />
                    <label for="villeId">{{ msg.components.repertoire.villeId }}</label>
                </p-floatlabel>
            </div>

            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <input pInputText id="tel1" formControlName="tel1" [maxlength]="10" class="w-full"
                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel1EqualTel3'] || formGroup.get('tel1')?.errors?.['exist'] }" />
                    <label for="tel1">{{ msg.components.repertoire.tel1 }}</label>
                </p-floatlabel>
                @if (formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel1EqualTel3']) {
                    @if (formGroup.errors?.['tel1EqualTel2']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel2Identique }}</p-message>
                    }
                    @if (formGroup.errors?.['tel1EqualTel3']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel3Identique }}</p-message>
                    }
                }
                @if(formGroup.get('tel1')?.errors?.['exist']) {
                    <p-message severity="error">{{ formGroup.get('tel1')?.errors?.['message'] }}</p-message>
                }
            </div>
        </div>

        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <input pInputText id="tel2" formControlName="tel2" [maxlength]="10" class="w-full"
                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel2EqualTel3'] || formGroup.get('tel2')?.errors?.['exist'] }" />
                    <label for="tel2">{{ msg.components.repertoire.tel2 }}</label>
                </p-floatlabel>
                @if (formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel2EqualTel3']) {
                    @if (formGroup.errors?.['tel1EqualTel2']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel2Identique }}</p-message>
                    }
                    @if (formGroup.errors?.['tel2EqualTel3']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel2AndTel3Identique }}</p-message>
                    }
                }
                @if(formGroup.get('tel2')?.errors?.['exist']) {
                    <p-message severity="error">{{ formGroup.get('tel2')?.errors?.['message'] }}</p-message>
                }
            </div>

            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <input pInputText id="tel3" formControlName="tel3" [maxlength]="10" class="w-full"
                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel3'] || formGroup.errors?.['tel2EqualTel3'] || formGroup.get('tel3')?.errors?.['exist'] }" />
                    <label for="tel1">{{ msg.components.repertoire.tel3 }}</label>
                </p-floatlabel>
                @if (formGroup.errors?.['tel1EqualTel3'] || formGroup.errors?.['tel2EqualTel3']) {
                    @if (formGroup.errors?.['tel1EqualTel3']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel3Identique }}</p-message>
                    }
                    @if (formGroup.errors?.['tel2EqualTel3']) {
                        <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel2AndTel3Identique }}</p-message>
                    }
                }
                @if(formGroup.get('tel3')?.errors?.['exist']) {
                    <p-message severity="error">{{ formGroup.get('tel3')?.errors?.['message'] }}</p-message>
                }
            </div>
        </div>

        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <input pInputText id="ice" formControlName="ice" maxlength="15" class="w-full"
                        [ngClass]="{ 'ng-invalid ng-dirty': formGroup.get('ice')?.errors?.['exist'] }" />
                    <label for="ice">{{ msg.components.repertoire.ice }}</label>
                </p-floatlabel>
                @if(formGroup.get('ice')?.errors?.['exist']) {
                    <p-message severity="error">{{ formGroup.get('ice')?.errors?.['message'] }}</p-message>
                }
            </div>

            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <input pInputText id="observation" formControlName="observation" class="w-full" />
                    <label for="observation">{{ msg.components.repertoire.observation }}</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0">
                <p-floatlabel class="w-full" variant="on">
                    <p-select formControlName="personnelId" inputId="personnelId"
                        [filter]="true" filterBy="designation" [resetFilterOnHide]="true"
                        [options]="listPersonnel" appendTo="body" optionLabel="designation"
                        optionValue="id" style="height: 30px;" class="w-full" />
                    <label for="personnelId">{{ msg.components.repertoire.personnelId }}</label>
                </p-floatlabel>
            </div>

            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on">
                    <p-input-number id="plafond" formControlName="plafond" [min]="0"
                        [maxFractionDigits]="2" class="w-full" />
                    <label for="plafond">{{ msg.components.repertoire.plafond }}</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col grow basis-0">
                <p-floatlabel variant="on" class="w-full" [class.p-filled]="formGroup.controls['adresse'].value">
                    <textarea pInputText id="adresse" formControlName="adresse" rows="3" class="w-full"></textarea>
                    <label for="adresse">{{ msg.components.repertoire.adresse }}</label>
                </p-floatlabel>
            </div>
        </div>
    </div>

    <div class="flex justify-end gap-2 mt-4">
        <button pButton [label]="msg.buttons.fermer" icon="pi pi-times" class="p-button-outlined p-button-danger" (click)="onClose()"></button>
        <button pButton [label]="msg.buttons.valider" icon="pi pi-check" class="p-button-success" (click)="onValidate()" [disabled]="!formGroup.valid"></button>
    </div>
</div>