<p-toast></p-toast>
<p-fluid class="flex mt-8" [formGroup]="formGroup">
  <div class="card flex flex-col gap-6 w-full">
    <div class="flex flex-col md:flex-row gap-2">
      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="nom" formControlName="nom" />
          <label for="nom">{{ msg.components.etablissement.nomEtablissement }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="ice" formControlName="ice" maxLength="15" />
          <label for="ice">{{ msg.components.etablissement.ice }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="ife" formControlName="ife" />
          <label for="ife">IF</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="rc" formControlName="rc" />
          <label for="rc">{{ msg.components.etablissement.rc }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="patente" formControlName="patente" />
          <label for="patente">{{ msg.components.etablissement.patente }}</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-2">
      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="tel1" formControlName="tel1" [maxLength]="10" [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel1EqualTel3'] }"/>
          <label for="tel1">{{ msg.components.etablissement.tel1 }}</label>
        </p-floatlabel>
        @if (formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel1EqualTel3']) {
          @if (formGroup.errors?.['tel1EqualTel2']) {
              <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel2Identique }}</p-message>
          }
          @if (formGroup.errors?.['tel1EqualTel3']) {
              <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel3Identique }}</p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="tel2" formControlName="tel2" [maxLength]="10" [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel2EqualTel3'] }"/>
          <label for="tel2">{{ msg.components.etablissement.tel2 }}</label>
        </p-floatlabel>
        @if (formGroup.errors?.['tel1EqualTel2'] || formGroup.errors?.['tel2EqualTel3']) {
          @if (formGroup.errors?.['tel1EqualTel2']) {
              <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel2Identique }}</p-message>
          }
          @if (formGroup.errors?.['tel2EqualTel3']) {
              <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel2AndTel3Identique }}</p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="tel3" formControlName="tel3" [maxLength]="10" [ngClass]="{ 'ng-invalid ng-dirty': formGroup.errors?.['tel1EqualTel3'] || formGroup.errors?.['tel2EqualTel3'] }" />
          <label for="tel3">{{ msg.components.etablissement.tel3 }}</label>
        </p-floatlabel>
        @if (formGroup.errors?.['tel1EqualTel3'] || formGroup.errors?.['tel2EqualTel3']) {
          @if (formGroup.errors?.['tel1EqualTel3']) {
              <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel1AndTel3Identique }}</p-message>
          }
          @if (formGroup.errors?.['tel2EqualTel3']) {
              <p-message severity="error" variant="simple" size="small">{{ msg.components.repertoire.errors.tel2AndTel3Identique }}</p-message>
          }
        }
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="email" formControlName="email" />
          <label for="email">{{ msg.components.etablissement.email }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="adresse" formControlName="adresse" />
          <label for="adresse">{{ msg.components.etablissement.adresse }}</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-2">
      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="siteweb" formControlName="siteweb" />
          <label for="siteweb">{{ msg.components.etablissement.siteWeb }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="lienBackupDB" formControlName="lienBackupDB" />
          <label for="lienBackupDB">{{ msg.components.etablissement.lienBackupDB }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="hostmail" formControlName="hostmail" />
          <label for="hostmail">{{ msg.components.etablissement.hostMail }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <p-input-number id="port" formControlName="port" />
          <label for="port">{{ msg.components.etablissement.port }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <p-password id="paswordMail" formControlName="paswordMail" />
          <label for="paswordMail">{{ msg.components.etablissement.passwordMail }}</label>
        </p-floatlabel>
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-2">
      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="lienDbDump" formControlName="lienDbDump" />
          <label for="lienDbDump">{{ msg.components.etablissement.lienDbDump }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="cheminBD" formControlName="cheminBD" />
          <label for="cheminBD">{{ msg.components.etablissement.cheminBD }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <input pInputText id="pourcentageLiv" formControlName="pourcentageLiv" />
          <label for="pourcentageLiv">{{ msg.components.etablissement.pourcentageLiv }}</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4">
        <p-floatlabel variant="on">
          <p-date-picker id="dateTime" formControlName="dateTime" [timeOnly]="true" />
          <label for="dateTime">Date Time</label>
        </p-floatlabel>
      </div>

      <div class="flex flex-col gap-4"></div>
    </div>

    <div class="flex flex-col md:flex-row gap-2" style="display: none;">
      <div class="flex flex-col gap-4">
        @for (typeE of typeExecutions; track typeE.value) {
          <div class="flex items-center">
              <p-radiobutton formControlName="typeExec" value="{{typeE.value}}" [inputId]="'typeExec' + typeE.value" (change)="onChangeTypeExecution($event)"></p-radiobutton>
            <label [for]="'typeExec' + typeE.value" class="ml-2">{{typeE.label}}</label>
          </div>
        }
      </div>

      <div class="flex flex-col gap-4">
        @if (formGroup.get('typeExec')?.value === "1"
          || formGroup.get('typeExec')?.value === 1
          || formGroup.get('typeExec')?.value === 2
          || formGroup.get('typeExec')?.value === "2") {
          <div class="flex flex-wrap gap-2 w-full">
            <label for="numJour" class="font-semibold">N° Jour</label>
            <div class="input-button-group">
              <p-select appendTo="body" [options]="days" formControlName="numJour" class="w-full md:w-56"></p-select>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-6" style="display: none;">
      <div class="flex flex-col gap-4">
        @if (formGroup.get('typeExec')?.value === "0" || formGroup.get('typeExec')?.value === 0) {
          <div class="flex flex-wrap gap-2 w-full">
            <div class="flex items-center">
              <p-checkbox inputId="lundi" name="lundi" [binary]="true" formControlName="lundi" />
              <label for="lundi" class="ml-2"> Lundi </label>
            </div>

            <div class="flex items-center">
              <p-checkbox inputId="mardi" name="mardi" [binary]="true" formControlName="mardi" />
              <label for="mardi" class="ml-2"> Mardi </label>
            </div>

            <div class="flex items-center">
              <p-checkbox inputId="mercredi" name="mercredi" [binary]="true" formControlName="mercredi" />
              <label for="mercredi" class="ml-2"> Mercredi </label>
            </div>

            <div class="flex items-center">
              <p-checkbox inputId="jeudi" name="jeudi" [binary]="true" formControlName="jeudi" />
              <label for="jeudi" class="ml-2"> Jeudi </label>
            </div>

            <div class="flex items-center">
              <p-checkbox inputId="vendredi" name="vendredi" [binary]="true" formControlName="vendredi" />
              <label for="vendredi" class="ml-2"> Vendredi </label>
            </div>

            <div class="flex items-center">
              <p-checkbox inputId="samedi" name="samedi" [binary]="true" formControlName="samedi" />
              <label for="samedi" class="ml-2"> Samedi </label>
            </div>

            <div class="flex items-center">
              <p-checkbox inputId="dimanche" name="dimanche" [binary]="true" formControlName="dimanche" />
              <label for="dimanche" class="ml-2"> Dimanche </label>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-6 justify-content-center align-items-center" style="justify-content: center;">
      <div class="flex">
        <p-button
          pRipple
          [label]="msg.buttons.valider"
          icon="pi pi-check"
          class="p-button-info"
          (click)="miseAjour()"
          [disabled]="!formGroup.valid"
        ></p-button>
      </div>
    </div>
  </div>
</p-fluid>
