/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';

:root {
    --p-datatable-header-cell-sm-padding: 0.2rem 0.5rem !important;
    --p-datatable-body-cell-sm-padding: 0.2rem 0.5rem !important;
    --p-button-icon-only-width: 1.5rem !important;
    --p-button-warn-background: #f7a202 !important;
    --p-button-warn-color: #ffffff !important;
    --p-button-warn-hover-background: #f7a202 !important;
    --p-button-warn-hover-border-color: #f7a202 !important;
    --p-button-warn-border-color: #f7a202 !important;
    --p-button-outlined-warn-border-color: #f7a202 !important;
    --p-button-outlined-warn-color: #f7a202 !important;
}

.p-toolbar {
    padding: 0.1rem 0.7rem !important;
}

.p-dialog-footer {
    justify-content: center !important;
    flex-direction: row-reverse;
}

.orange-color {
    background: #FBC02D !important;
    border: 1px solid #FBC02D !important;
    color: white !important;
}

.full-width {
    width: 100% !important;
}

.p-inputtext:disabled {
  background: #f6f9ff70 !important;
}